/* CSS Document */
.top{ background:url(../../images/xjcm/top_bg.png) repeat-x; width:auto;height:80px;margin:0 auto; z-index: 10000;}
.topc{ width:1080px; height:80px; margin:0 auto;}
.logo{ width:139px; height:80px; float:left;}
.top_right{ width:840px; height:80px; float:right;}
.nav{ width:728px; height:80px; float:left;}
.nav a{ width:auto; padding: 0px 34px 0 34px; display:block; float:left; color:#333333; font-size:18px; height:80px; line-height:80px;}
.nav a:hover{ color:#d70c19;}
.tel{ color:#d70c19; font-size:14px; float:left; line-height:80px;}
.top_right_right{ width:auto; float:right;}
.top_right_right img{ padding-top:29px;}
.banner{ width:100%; height:450px; position:absolute; top:0px;}
.bannerc{ width:443px; padding-top:212px; height:242px; float:right; text-align:left;}
.ban{ width:1080px; margin:0 auto;}
.syyy{ height:43px;}
.syyy_a{ width:128px; height:41px; display:block; background:url(../../images/xjcm/aa2.png) no-repeat;}
.syyy_a:hover{ background:url(../../images/xjcm/aa2_hover.png) no-repeat;}
.center1{ width:1080px; height:340px; margin:0 auto; padding:36px 0px 0px 0px;}
.center1Z{ padding-right:30px; float:left; width:340px; height:340px;}
.center1Z_img{ width:340px; height:200px; position:relative;}
.center1Z_a{ width:340px; height:40px; display:block; margin-top:-120px; position:relative; z-index:9999999999999;}
.gywm{ background:url(../../images/xjcm/gywm.png) no-repeat;width:128px; height:41px; display:block; margin:0 auto;}
.gywm:hover{ background:url(../../images/xjcm/gywm_hover.png) no-repeat;}
.center1Z_word{ height:96px; width:340px; padding-top:23px; font-size:14px; line-height:24px; color:#929292;}
.img_total{width:340px; height:200px;}
.more{ font-size:14px; padding-top:3px;}
.more a{color:#d70c19;}
.ssyy{ background:url(../../images/xjcm/ssyy.png) no-repeat;width:128px; height:41px; display:block; margin:0 auto;}
.ssyy:hover{ background:url(../../images/xjcm/ssyy_hover.png) no-repeat;}
.ppsj{ background:url(../../images/xjcm/ppsj.png) no-repeat;width:128px; height:41px; display:block; margin:0 auto;}
.ppsj:hover{ background:url(../../images/xjcm/ppsj_hover.png) no-repeat;}
.line{ width:100%; height:1px; background:url(../../images/xjcm/line.png) repeat-x; padding-bottom:40px;}
.an_bg{ display:none; width:261px; height:140px; background:url(../../images/xjcm/anli_bg.png) no-repeat;margin-top: -140px; position:relative; z-index:99999999999;}
.anli_img{ width:261px; height:140px; position:relative;}
.an_bg a{width:261px!important; height:140px!important; display:block!important;}
.line1{ width:100%; height:1px; background:url(../../images/xjcm/line.png) repeat-x; margin-bottom:73px; margin-top:55px;}
.hzhb{ margin:0 auto; width:326px; height:97px; margin-bottom:35px;}
.linec{ width:1080px; margin:0 auto; background:#d20000; height:1px;}
#demo {
overflow:hidden;
width: 100%; padding-bottom:90px;
}
#demo img {
border: 1px solid #cdcdcd;
}
#indemo {
float: left;
width: 800%;
}
#demo1 {
float: left;
}
#demo2 {
float: left;
}
#demo1 a{ padding-right:8px;}
.db{ width:auto; height:388px; padding-bottom:92px;}
.db_c{ height:388px; margin:0 auto;overflow:hidden; max-width:2000px; min-width:1000px;}
.footer{ width:1080px; height:auto; margin:0 auto;}
.footer1{ width:1080px; height:217px; overflow:hidden; padding-bottom:40px;}
.line2{width:100%; height:1px; background:url(../../images/xjcm/line.png) repeat-x; padding-bottom:55px;}
.footer1L{ width:967px; height:auto; float:left;}
.footer1R{ width:110px; height:auto; float:right;}
.footer_syyy{ width:108px; float:left; padding-right:118px; float:left; }
.footer_syyy h2{ font-size:16px; color:#333333; font-weight:normal; padding-bottom:10px;}
.footer_syyy li{ line-height:32px; height:32px; color:#929292; font-size:14px;}
.footer1_lxwm{ width:314px; float:right; line-height:32px; color:#929292; font-size:14px;}
.footer1_ewm{ width:103px; float:left;}
.footer1_ewm p{ padding-top:0px; color:#333333; font-size:16px; text-align:center;}
.footer1_lxwm h2{font-size:16px; color:#333333; font-weight:normal; }
.footer2{ height:35px; padding-bottom:145px; padding-top:36px;}
.footer2_left{ width:515px; line-height:35px; font-size:14px; color:#d70c19; float:left;}
.footer2_right{ width:201px; height:35px; float:right;}

.dz{ height:245px; width:1080px; margin:0 auto; padding-bottom:45px;}
.dz_1{ width:335px; padding-left:4px; height:245px; border-right:1px solid #d70c19; float:left;}
.dz_1 p{ color:#333333; font-size:16px; height:15px; padding-bottom:15px;}
.dz_1_top{ font-size:45px; color:#333333; height:43px; line-height:43px;}
.dz_1_top span{ font-size:18px; padding-left:15px;}
.dz_1_bot{ height:120px; color:#929292; font-size:14px; line-height:32px; padding-top:15px;}
.line3{  width:1080px; height:1px; background:#a8a8a8; margin:0 auto;}


.spbf_blk_29 {PADDING:0px; OVERFLOW: hidden; POSITION: relative;}
.spbf_blk_29 .spbf_LeftBotton {BACKGROUND: url(../../images/xjcm/left.png) no-repeat; FLOAT:left; WIDTH: 60px; CURSOR: pointer; HEIGHT: 40px; MARGIN-TOP:103px;}
.spbf_blk_29 .spbf_RightBotton {BACKGROUND: url(../../images/xjcm/right.png) no-repeat; FLOAT: right; WIDTH: 60px; CURSOR: pointer; HEIGHT: 40px; MARGIN-TOP:103px;}
.spbf_blk_29 .spbf_Cont {FLOAT:left; OVERFLOW: hidden; WIDTH: 960px; MARGIN-TOP:92px;}
.spbf_blk_29 .spbf_box {FLOAT: left; WIDTH: 240px; TEXT-ALIGN: center}
.spbf_rollphotos {WIDTH:1083px; margin:0 auto;}
.partC {	MARGIN-TOP: 10px; OVERFLOW: auto; WIDTH: 950px}
.partC .PC_left {	OVERFLOW: auto; WIDTH: 470px}
.partC .PC_right {	OVERFLOW: auto; WIDTH: 470px}
.partC .PC_left {	FLOAT: left}
.partC .PC_right {	FLOAT: right}
.PT_mix {	BORDER: #a2d1ff 1px solid; PADDING-RIGHT: 0px;PADDING-LEFT: 0px; BACKGROUND: #f3fbfe; PADDING-BOTTOM: 10px; OVERFLOW: auto; PADDING-TOP: 0px; }
.PhoTxt {	MARGIN-TOP: 10px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; OVERFLOW: auto; WIDTH: 220px}
.PhoTxt IMG {	BORDER: #ccc 1px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #fff; FLOAT: left;MARGIN-RIGHT: 5px; PADDING-TOP: 3px; }
.PhoTxt H1 {	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 23px}
.PhoTxt P {	COLOR: #545454; LINE-HEIGHT: 20px}


.blk_29 {PADDING:0px; OVERFLOW: hidden; POSITION: relative;}
.blk_29 .LeftBotton {BACKGROUND: url(../../images/xjcm/left.png) no-repeat; FLOAT:left; WIDTH: 60px; CURSOR: pointer; HEIGHT: 40px; MARGIN-TOP:103px;}
.blk_29 .RightBotton {BACKGROUND: url(../../images/xjcm/right.png) no-repeat; FLOAT: right; WIDTH: 60px; CURSOR: pointer; HEIGHT: 40px; MARGIN-TOP:103px;}
.blk_29 .Cont {FLOAT:left; OVERFLOW: hidden; WIDTH: 960px; MARGIN-TOP:103px;}
.blk_29 .box {FLOAT: left; WIDTH: 240px; TEXT-ALIGN: center}
.rollphotos {WIDTH:1083px; margin:0 auto;}
.partC {	MARGIN-TOP: 10px; OVERFLOW: auto; WIDTH: 950px}
.partC .PC_left {	OVERFLOW: auto; WIDTH: 470px}
.partC .PC_right {	OVERFLOW: auto; WIDTH: 470px}
.partC .PC_left {	FLOAT: left}
.partC .PC_right {	FLOAT: right}
.PT_mix {	BORDER: #a2d1ff 1px solid; PADDING-RIGHT: 0px;PADDING-LEFT: 0px; BACKGROUND: #f3fbfe; PADDING-BOTTOM: 10px; OVERFLOW: auto; PADDING-TOP: 0px; }
.PhoTxt {	MARGIN-TOP: 10px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; OVERFLOW: auto; WIDTH: 220px}
.PhoTxt IMG {	BORDER: #ccc 1px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #fff; FLOAT: left;MARGIN-RIGHT: 5px; PADDING-TOP: 3px; }
.PhoTxt H1 {	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 23px}
.PhoTxt P {	COLOR: #545454; LINE-HEIGHT: 20px}



/* videobox */
.videobox{width:800px; position:fixed; top:10%; left:25%;}
.video-img{width:800px; height:500px; overflow:hidden;}
.video-list{width:800px; height:112px; overflow:hidden; padding:15px 0 0 0;}
.video-list li{width:186px; height:108px; overflow:hidden; position:relative; float:left; border:solid 2px #000; cursor:pointer; border-radius:6px; margin-right:5px; margin-left:5px;}
.video-list li .icon-video{position:absolute;left:60px;top:20px;width:68px;height:68px;z-index:99;}
.video-list li.now{border:2px #0099FF solid;}
.video-list li.now .icon-video{display:none;}

.img-scroll {width:834px; margin:0px auto; position:relative;}
.img-scroll .prev,.img-scroll .next { position:absolute;}
.img-scroll .prev {float:left; width:40px; height:60px; margin-left:-40px; margin-top:45px;}
.img-scroll .next {float:right; width:40px; height:60px; margin-left:825px; margin-top:45px;}
.img-list { position:relative; width:800px; height:108px; overflow:hidden; margin-left:-10px;}
.img-list ul { width:9999px;}
.img-list li { float:left; display:inline; width:186px; height:100px; margin-right:10px; border:2px #000 solid; border-radius:6px;}

.gban{width:800px; margin:0 auto;}
.gban img{position:absolute; margin-top:15px; margin-left:767px; z-index:999999;}
.spbf_bt{font-size:20px; color:#E4F1FF;}
.bf {
background: url(../../images/xjcm/bf_bg.png) center top;
width: 100%;
height: 100%;
position: fixed;
top: 0;
z-index: 9999999999999999999999999;
display: none;
}
.video-list ul{ display:none;}
.video-img{ display:none}
