<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatibel" content="IE=edge,chrome=1">
    <title><?=MYTITLE?></title>
    <base href="<?=MYBASEURL?>"/>
    <link rel="stylesheet" href="plugin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<?php require_once(VIEWPATH.'/include/header.html');?>
<!-- 主内容区域 -->
<div class="container-fluid iframe-container iframe-inverse">
    <?php require_once(VIEWPATH.'/include/left.html');?>
    <!-- 主面板 -->
    <div class="iframe-main">
        <div class="iframe-main-section">
            <div class="section_name">
                <h5 class="section_name_text"><?=$section_name?></h5>
                <?=$breadcrumb?>
            </div>
            <div class="section_container">
                <div class="form_operat_area">
                    <form class="form-horizontal" action="<?=$tpl_save_url?>" method="post">
                        <div class="form-group">
                            <div class="col-xs-2 control-label">名称</div>
                            <div class="col-xs-3">
                                <input type="text" name="name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 control-label">标识</div>
                            <div class="col-xs-3">
                                <input type="text" name="ident" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 control-label">备注</div>
                            <div class="col-xs-5">
                                <textarea name="remark" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 control-label">排序</div>
                            <div class="col-xs-1">
                                <input type="text" name="sort" value="100" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-8">
                                <button type="submit" name="is_save" value="1" class="btn btn-default btn-primary">保存
                                </button>
                                <button type="submit" name="is_save" value="2" class="btn btn-default">保存并新增</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>