<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatibel" content="IE=edge,chrome=1">
    <title><?=MYTITLE?></title>
    <base href="<?=MYBASEURL?>"/>
    <link rel="stylesheet" href="plugin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<?php require_once(VIEWPATH.'/include/header.html');?>
<!-- 主内容区域 -->
<div class="container-fluid iframe-container iframe-inverse">
    <?php require_once(VIEWPATH.'/include/left.html');?>
    <!-- 主面板 -->
    <div class="iframe-main">
        <div class="iframe-main-section">
            <div class="section_name">
                <h5 class="section_name_text"><?=$section_name?></h5>
                <?=$breadcrumb?>
            </div>
            <div class="section_container">
                <div class="form_operat_area">
                    <form class="form-horizontal" action="<?=$tpl_save_url?>" method="post">
                        <input type="hidden" name="id" value="<?=$item['id']?>">
                        <div class="form-group">
                            <div class="col-xs-2 control-label"><span class="text-danger">*</span> 用户名</div>
                            <div class="col-xs-3">
                                <input type="text" name="username" value="<?=$item['username']?>" class="form-control">
                            </div>
                            <div class="col-xs-3 checkbox">
                                <label><input type="checkbox" name="forzen"
                                              value="0" <?=$forzen_checked?> <?=$disabled?>
                                    ><ins></ins>冻结账号</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 control-label">密码</div>
                            <div class="col-xs-3">
                                <input type="password" name="password" class="form-control">
                                <span class="help-block">不填写则不修改</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 control-label"><span class="text-danger">*</span> 角色</div>
                            <div class="col-xs-3">
                                <select name="role_id" class="form-control" <?=$disabled?>>
                                <option value="0">-请选择-</option>
                                <?=$role_option?>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 control-label">真实姓名</div>
                            <div class="col-xs-3">
                                <input type="text" name="realname" value="<?=$item['realname']?>" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 control-label">备注</div>
                            <div class="col-xs-5">
                                <textarea name="remark" class="form-control" rows="3"><?=$item['remark']?></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-8">
                                <button type="submit" name="is_save" value="1" class="btn btn-default btn-primary">保存
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //表单验证
        $('form').submit(function () {
            var username = $('input[name="username"]').val();
            var password = $('input[name="password"]').val();
            var role_id = $('select[name="role_id"]').val();
            if (username == '') {
                layer.msg('用户名不能为空', {icon: 4, time: 2000});
                return false;
            }
            if (role_id == '0') {
                layer.msg('请选择用户角色', {icon: 4, time: 2000});
                return false;
            }
        });

        //验证用户名是否存在
        $(document).on({
            blur: function () {
                var _this = $(this);
                var username = _this.val();
                var id = $('input[name="id"]').val();
                var bool = false;
                if (username != '') {
                    $.post('<?=$tpl_check_username_exists_url?>', {username: username, id: id}, function (data) {
                        if (parseInt(data) > 0) {
                            layer.msg('用户名已存在', {icon: 4, time: 2000}, function () {
                                _this.val('');
                            });
                            bool = flase;
                        } else {
                            bool = true;
                        }
                    });
                }
                return bool;
            }
        }, 'input[name="username"]');
    })
</script>

</body>
</html>