<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>我们 - 新界传媒</title>
    <meta name="keywords" content="宣传片制作公司/视频制作公司/上海视频公司/北京视频制作公司">
    <meta name="description" content="新界传媒">
    <base href="<?=base_url()?>">
    <link rel="stylesheet" href="css/globle.css" type="text/css"/>
    <link rel="stylesheet" href="css/xjgd.css" type="text/css"/>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        function setTab(name, cursel, n) {
            for (i = 1; i <= n; i++) {
                var menu = document.getElementById(name + i);
                var con = document.getElementById("con_" + name + "_" + i);
                if (i == cursel) {
                    menu.className = "hover";
                    con.style.display = "block";
                } else {
                    menu.className = "";
                    con.style.display = "none";
                }

                //menu.className=i==cursel?"hover":"";
                // con.style.display=i==cursel?"block":"none";
            }
        }
        //i==cursel?"hover":"";如果i等于cursel，那么className为"hover"，如果不等于则为"".
        //i==cursel?"block":"none");一样的道理！如果i等于cursel，那么con的显示方式为"block" 否则为"none"
        $(function () {
            $(".abc").mouseover(function () {
                $(".ccc").show();
            })
            $(".abc").mouseout(function () {
                $(".ccc").hide();
            })
        })
    </script>
</head>

<body>
<div class="top">
    <div class="topc">
        <div class="logo">
            <a href="index.html"><img src="images/xjgd_logo.png" width="139" height="80"/></a>
        </div>
        <div class="top_right">
            <div class="nav">
                <a href="<?=site_url();?>">首页</a>
                <a href="<?=site_url('about');?>">我们</a>
                <a href="<?=site_url('?#aa');?>">案例</a>
                <a href="<?=site_url('media');?>">媒体</a>
                <a href="<?=site_url('contact');?>">联系</a>
                <div class="clear"></div>
            </div>
            <div class="top_right_right">
                <a href="javascript:void(0);"><img src="images/xjgd_qq.png" width="18" height="20"/></a>&nbsp;&nbsp;&nbsp;
                <a href="javascript:;" class="abc"><img src="images/xjgd_wx.png" width="22" height="20"/></a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div style="width:1080px; height:125px; margin:0 auto;">
        <div class="ccc">
            <img src="images/ewm.jpg" width="125" height="125" style="margin-top:-25px;"/>
        </div>
    </div>
    <style type="text/css">
        .ccc {
            display: none;
            position: relative;
            z-index: 99999;
            margin-left: 990px;
        }
    </style>
</div>
<div class="banner" style="background:url(images/gywm1.jpg) no-repeat top center;">
    <div class="ban">
        <div class="lxwm_bannerc" style="width:756px; height:69px;"><img src="images/gywm2.png" width="756"
                                                                         height="69"/>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="gywm2">
    <div class="gywm2c">
        <div class="gywm2c_bot">
            <img src="images/gywm5.jpg" width="1050" height="473"/>
        </div>
    </div>
</div>
<div class="gywm5">
    <div class="gywm5c">
        <img src="images/logo1_03.png" width="1077" height="145"/>
        <img src="images/logo2_03.png" width="1080" height="102"/>
        <img src="images/logo3_03.png" width="1080" height="161"/>
        <img src="images/logo4_03.png" width="1080" height="174"/>
        <img src="images/logo5_03.png" width="1080" height="72"/>
    </div>
</div>
<div class="gywm1">
    <div class="gywm1c">
        <h2>思想决定影响 眼界决定视界</h2>
        <div class="gywm1c_bot">
            <p>
                　　多年来，我们用专业的力量，改变着中国企业的品牌形象，成就了新界发展为中国创意设计标杆的理想。未来，北京新界传媒广告有限公司将继续专注于设计和品牌管理，希望通过我们的专业力量为中国软实力的提升添砖加瓦，展现中国文化创意之美，加速提升中国品牌在国际上的影响力。</p>
            <p>
                　　新界认为，创作的终极根本是表达，创意只是负载之上的一种形式。具体来讲，从中国制造到中国创造再到创意产业，最关键的一点就是满足个性化的需求。多年来，我们的客户涵盖汽车、电子通讯、房地产、光电科技、医疗、互联网、机械、能源、金融、教育等行业，成功服务于：万达集团、联想集团、隆德集团、挑战集团、京东商城、淘宝、凡客诚品、多美小壹APP、中国泛海、中国民生信托、中国珠宝、中铁十六局、中科遥感、国家遥感中心、国遥新天地、国家无线电监测中心、一汽奥迪、一汽大众、上海大众、福田汽车、IBM、红山软件、中国银行、广发银行、冠群投资、紫马财富、中央电视台、北京电视台、辽宁电视台、朔州电视台、营口电视台、清华大学、北京大学、绿色能源、统一、蓝猫饮品集团、工美集团等数十家企业、媒体、教育机构建立了良好的合作关系。新界传媒以独特的视角，专业的团队，与生俱来的激情活力和社会责任在业界获得诸多赞誉。</p>
        </div>
    </div>
</div>
<div class="gywm3">
    <div class="gywm3_top"></div>
    <div class="gywm3_b">
        <div class="gywm3_bc">
            <div class="gywm3_bc_top">
                <div class="bc_top_left"><img src="uploads/2015/1123/20151123023242115.jpg" width="209" height="218"/>
                </div>
                <div class="bc_top_right">
                    王阳，现任中央电视台新闻中心主任编辑、《本周》栏目的制片人及主编，中国传媒大学、南昌大学的客座教授。1994年进入央视，曾是CCTV《新闻联播》实现直播的主力编导；他独立创办了央视同时段收视率最高的《本周》；他参与创办中央电视台第一个民生新闻栏目《晚间新闻》，并任其主要编辑；从香港回归到神舟五号载人飞船发射成功，他参与了中国近17年来所有重大历史性事件的直播报道工作。
                </div>
                <div class="clear"></div>
            </div>
            <div class="gywm3_bc_bot">
                王 阳<span>董事长兼CEO</span>
            </div>
        </div>
    </div>
    <div class="gywm3_b">
        <div class="gywm3_bc">
            <div class="gywm3_bc_top">
                <div class="bc_top_left"><img src="uploads/2015/1123/20151123023537908.jpg" width="209" height="218"/>
                </div>
                <div class="bc_top_right">
                    田富源，现任新界传媒导演，毕业于北京电影学院导演系。<img align="absmiddle" alt=""
                                                   src="uploads/2015/1123/20151123023633557.png"
                                                   style="width: 59px; height: 41px;"/>
                    <br/>
                    指导作品：河北刘伶醉酒广告、神华集团包神铁路宣传片、京乐二锅头宣传片、天地伟业宣传片、上海市委党校宣传片、广州工贸学院微电影宣传片、安徽国防学院宣传片、沈阳东宇集团企业形象宣传片、豪杰掌霸广告片、华夏银行形象宣传片、北京经济技术开发区形象宣传片、思源水饺、欧派家居、银鹭花生牛奶、悦活、思圆皇帝鸡汤面、统一鲜橙多、蓝莓酸枣汁、名医、美莱整形、知音美容、国航来者都是客、迈腾、一汽大众、斯柯达等。
                </div>
                <div class="clear"></div>
            </div>
            <div class="gywm3_bc_bot">
                田富源<span>新界导演</span>
            </div>
        </div>
    </div>
    <div class="gywm3_b">
        <div class="gywm3_bc">
            <div class="gywm3_bc_top">
                <div class="bc_top_left"><img src="uploads/2015/1123/20151123023832610.jpg" width="209" height="218"/>
                </div>
                <div class="bc_top_right">
                    申海军，现任新界传媒导演，毕业于北京电影学院导演系。<img align="absmiddle" alt=""
                                                   src="uploads/2015/1123/20151123023800692.png"
                                                   style="width: 59px; height: 41px;"/>
                    <br/>
                    指导作品：真维斯、康师傅、chevignon、一汽奥迪、上海大众、莲花汽车、福田、中国银行、蓝猫饮品集团、统一、IBM、中智信达、清华大学、北京大学、、腾讯、中美史克、英大人寿、中国人寿、京东商城、中国电信、华谊兄弟、华博地产、中国平安集团、光大银行、中信银行、南洋商业银行、诺德基金、长盛基金、景顺长城、中国人保、中国农业银行，东南网架，兆丰集团，步森集团，传化集团，富丽达集团，亚太机电等
                </div>
                <div class="clear"></div>
            </div>
            <div class="gywm3_bc_bot">
                申海军<span>新界签约导演</span>
            </div>
        </div>
    </div>
    <div class="gywm3_b">
        <div class="gywm3_bc">
            <div class="gywm3_bc_top">
                <div class="bc_top_left"><img src="uploads/2015/1123/20151123024001626.jpg" width="209" height="218"/>
                </div>
                <div class="bc_top_right">
                    林翔，现任新界传媒导演，毕业于中国传媒大学导演系。<img align="absmiddle" alt="" src="uploads/2015/1123/20151123023929361.png"
                                                  style="width: 59px; height: 41px;"/>
                    <br/> 商业影视片拍摄制作风格侧重于出镜人物的气质调度结合简洁清新的画面风格，在实现客户诉求效果的前提下，尽可能提升影视作品的视觉价值。
                    <br/>
                    执导作品：统一鲜橙多、蓝莓酸枣汁、名医、美莱整形、知音美容、国航来者都是客、迈腾、一汽大众、京东商城、2688商城、硕人集团、中国银行、华夏银行、冠群驰骋、中国泛海、万达集团、中国珠宝、多美小壹APP等
                </div>
                <div class="clear"></div>
            </div>
            <div class="gywm3_bc_bot">
                林 翔<span>新界签约导演</span>
            </div>
        </div>
    </div>
    <div class="renwu">
        <div class="renwu_total">
            <div class="renwu_total_img"><img src="uploads/2015/1123/20151123024133317.jpg" width="209" height="218"/>
            </div>
            <p class="renwu_total_wenzi">陈照奎 项目总监</p>
        </div>
        <div class="renwu_total">
            <div class="renwu_total_img"><img src="uploads/2015/1123/20151123024201509.jpg" width="209" height="218"/>
            </div>
            <p class="renwu_total_wenzi">岳书斌 策划总监</p>
        </div>
        <div class="renwu_total" style="padding-right:0px;">
            <div class="renwu_total_img"><img src="uploads/2015/1123/20151123024229122.jpg" width="209" height="218"/>
            </div>
            <p class="renwu_total_wenzi">马 哲 美术总监</p>
        </div>
        <div class="renwu_total">
            <div class="renwu_total_img"><img src="uploads/2015/1123/20151123024254396.jpg" width="209" height="218"/>
            </div>
            <p class="renwu_total_wenzi">高 帆 技术总监</p>
        </div>
        <div class="renwu_total">
            <div class="renwu_total_img"><img src="uploads/2015/1123/20151123024324719.jpg" width="209" height="218"/>
            </div>
            <p class="renwu_total_wenzi">许乐清 项目经理（上海）</p>
        </div>
        <div class="renwu_total" style="padding-right:0px;">
            <div class="renwu_total_img"><img src="uploads/2015/1123/20151123024355874.jpg" width="209" height="218"/>
            </div>
            <p class="renwu_total_wenzi">赵 欣 客户总监（上海）</p>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="line1"></div>
<script>
    var time;
    $(function () {
        $(".team_top").not(":first").hide();
        $(".tp").not(":first").hide();
        $('.team_bot li').not(".a").hover(function () {
            $(".tp").not(":first").hide();
            var _t = $(this);
            clearTimeout(time);
            time = setTimeout(function () {
                _t.find('.tp').fadeIn();
            }, 200);
        }, function () {
            var _t = $(this);
            clearTimeout(time);
            time = setTimeout(function () {
                _t.find('.tp').fadeOut();
            }, 200);
        })

    })
</script>
<div class="gywm4" style="padding-bottom:86px;">
</div>
<div class="footer" style=" position:relative; z-index:999999;">
    <div class="footer1" style="padding-bottom:10px;">
        <div class="footer1L">
            <div class="footer_syyy" style="padding-left:8px;">
                <h2>关于我们</h2>
                <ul>
                    <li><a href="gywm.html">关于新界</a></li>
                    <li><a href="gywm.html">服务项目</a></li>
                    <li><a href="gywm.html">新界团队</a></li>
                    <li><a href="mtzy.html">媒体资源</a></li>
                    <li><a href="lxwm.html">联系我们</a></li>
                </ul>
            </div>
            <div class="footer_syyy" style="padding-right:127px;">
                <h2>商业影视</h2>
                <ul>
                    <li><a href="index.html#aa">宣传片</a></li>
                    <li><a href="index.html#aa">广告片</a></li>
                    <li><a href="index.html#aa">微电影</a></li>
                    <li><a href="index.html#aa">二维动画</a></li>
                    <li><a href="index.html#aa">三维动画</a></li>
                </ul>
            </div>
            <div class="footer_syyy" style="padding-right:127px; ">
                <h2>品牌设计</h2>
                <ul>
                    <li><a href="index.html#aa">视觉识别系统</a></li>
                    <li><a href="index.html#aa">logo图形创意</a></li>
                    <li><a href="index.html#aa">画册海报设计</a></li>
                    <li><a href="index.html#aa">UI--用户体验</a></li>
                    <li><a href="index.html#aa">App产品设计</a></li>
                </ul>
            </div>
            <div class="footer_syyy" style="padding-right:90px;width:140px; padding-left:22px;">
                <h2>媒体资源</h2>
                <ul>
                    <li><a href="mtzy.html">CCTV BTV 卫视频道</a></li>
                    <li><a href="mtzy.html">中新网 人民网 新华网</a></li>
                    <li><a href="mtzy.html">腾讯 凤凰 搜狐 新浪</a></li>
                    <li><a href="mtzy.html">网易 环球网 光明网</a></li>
                    <li><a href="mtzy.html">优酷 土豆 乐视 爱奇艺 </a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="footer1R" style="padding-top:5px;">
            <div class="footer1_ewm">
                <img src="images/ewm.jpg" width="108" height="108"/>
                <p style="padding-top:5px;">关注新界传媒</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="line2"></div>
    <div class="dz">
        <div class="dz_1">
            <p>BEIJING</p>
            <div class="dz_1_top">北京<span> 新界</span></div>
            <div class="dz_1_bot">
                北京朝阳区建外SOHO12号楼2802
                <br/> 电话： 010-59001439/59009471
                <br/> 传真： 010-58690432
                <br/> Q Q ：&nbsp;2435934515
                <br/> Email：newview_bj@yahoo.com
            </div>
        </div>
        <div class="dz_1" style="padding-left:103px;">
            <p>SHANGHAI</p>
            <div class="dz_1_top">上海<span>新界</span></div>
            <div class="dz_1_bot">
                上海市普陀区长寿路中港汇大厦15层
                <br/> 电话： 021-6180 0520
                <br/> 传真： 021-6180 0532
                <br/> Q Q:： 2150130065
                <br/> Email：newview_bj@yahoo.com
            </div>
        </div>
        <div class="dz_1" style="border:0px; padding-left:0px; float:right; width:220px;">
            <p>BEIJING</p>
            <div class="dz_1_top">北京<span>电影事业部</span></div>
            <div class="dz_1_bot">
                北京朝阳区高碑店艺术区26-1
                <br/> 电话： 010-59009471/58685364
                <br/> 传真： 010-58695364
                <br/> Q Q ： 2556656115
                <br/> Email：newview_bj@yahoo.com
            </div>
        </div>
    </div>
    <div class="line3"></div>
    <div class="footer2">
        <div class="footer2_left"><img src="images/footer_logo.png" width="155" height="36" align="absmiddle"/>&nbsp;&nbsp;&copy;
            2014 版权所有 新界广告传媒有限公司
        </div>
        <div class="clear"></div>
    </div>
</div>
<div style="position: fixed;z-index:9999999999;right: 0px;top: 300px;">
    <div id="kefu" style="position:relative; display:block; width:70px; height:326px; text-ailgn:justify;">
        <div style="width:252px; height:61px;"><img src="images/kefu1.jpg" width="252" height="61"/></div>
        <div style=" width:250px; height:264px; border:1px solid #e8e8e8; border-top:none; background:#fff;">
            <div style="width:211px; margin:0 auto 0 30px; padding-top:15px;">
                <p style="font-size:14px; color:#333333; line-height:;22px;"><img src="images/kefu2.png"
                                                                                  align="absmiddle"/><span
                        style="padding-left:20px;">北京：<span style="letter-spacing:1.5px;">2435934515</span>
                        <br/><span style="padding-left:80px;letter-spacing:1.5px;">2556656115</span>
                        <br><span style="padding-left:38px;">上海：<span
                            style="letter-spacing:1.5px;">2150130065</span></span>
                        </span>
                </p>
                <p style="font-size:14px; color:#333333; line-height:22px; padding-top:8px;"><img src="images/kefu3.png"
                                                                                                  align="absmiddle"/><span
                        style="padding-left:20px;">北京：010-59001439<br/><span
                        style="padding-left:80px;">010-59005471</span>
                        <br/><span style="padding-left:80px;letter-spacing:0.7px;">13581915712</span>
                        <br/>
                <p style="padding-left:38px;font-size:14px; color:#333333; line-height:22px; padding-top:8px;">
                    上海：021-61800520</p><span style="padding-left:80px;font-size:14px; color:#333333; line-height:22px;">021-61800532</span>
                <br/><span
                    style="padding-left:80px;font-size:14px; color:#333333; line-height:22px;letter-spacing:0.7px;">18811398375</span></span>
                </p>
                <p style="font-size:14px; color:#333333; padding-top:8px;"><img src="images/kefu4.png"
                                                                                align="absmiddle"/><span
                        style="padding-left:20px;">newview_bj@yahoo.com</span></p>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#kefu").hover(function () {
            $("#kefu").stop().animate({
                width: "252px"
            });
        }, function () {
            $("#kefu").stop().animate({
                width: "70px"
            });
        });
    });
</script>
</body>

</html>
