<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>加入我们 - 新界传媒</title>
    <meta name="keywords" content="宣传片制作公司/视频制作公司/上海视频公司/北京视频制作公司">
    <meta name="description" content="新界传媒">
    <link rel="stylesheet" href="css/globle.css" type="text/css"/>
    <link rel="stylesheet" href="css/xjgd.css" type="text/css"/>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".abc").mouseover(function () {
                $(".ccc").show();
            })
            $(".abc").mouseout(function () {
                $(".ccc").hide();
            })
        })
    </script>
</head>

<body>
<div class="top">
    <div class="topc">
        <div class="logo">
            <a href="index.html"><img src="images/xjgd_logo.png" width="139" height="80"/></a>
        </div>
        <div class="top_right">
            <div class="nav"><a href="index.html">首页</a><a href="gywm.html">我们</a><a href="index.html#aa">案例</a><a
                    href="xjgd.html">观点</a><a href="jrwm.html" class="on">加入</a><a href="mtzy.html">媒体</a><a
                    href="lxwm.html">联系</a>
                <div class="clear"></div>
            </div>
            <div class="top_right_right">
                <a href="javascript:void(0);"><img src="images/xjgd_qq.png" width="18" height="20"/></a>&nbsp;&nbsp;&nbsp;
                <a href="javascript:;" class="abc"><img src="images/xjgd_wx.png" width="22" height="20"/></a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div style="width:1080px; height:125px; margin:0 auto;">
        <div class="ccc">
            <img src="images/ewm.jpg" width="125" height="125" style="margin-top:-25px;"/>
        </div>
    </div>
    <style type="text/css">
        .ccc {
            display: none;
            position: relative;
            z-index: 99999;
            margin-left: 990px;
        }
    </style>
</div>
<div class="banner" style="background:url(images/jrwm.jpg) no-repeat top center;"></div>
<div style="background:url(images/jrwm1.jpg) no-repeat top center;width: 100%;height: 706px;"></div>
<div class="jrwm11">
    <div class="jrwmall" style="width:366px; height:417px; overflow:hidden; padding-right:0px;">
        <h2 class="jrwmall_title">客户经理</h2>
        <p class="jrwm_zprs">招聘人数：2名</p>
        <div class="jrwm_bot">
            职位描述：
            <br/> 1. 开发公司新客户及维护客户关系。
            <br/> 2. 独立负责公司签约客户，日常沟通。
            <br/> 3. 能够独立为客户制定企业宣传方案。
            <br/> 4. 高质量的完成项目中各个方面工作。
            <br/> 5. 能独立完成项目执行过程中的沟通协调。
            <br/> 任职要求：
            <br/> 1. 本科及以上学历，市场专业优先考虑。
            <br/> 2. 2年以上客户经理经验，广告公司就职经验者优先考虑。
            <br/> 3. 项目控制能力与良好的客户沟通能力。
            <br/> 4. 具有一定的团队管理经验。
            <br/>
            <br/>
            <p class="gzdd">工作地点：北京</p>
        </div>
    </div>
    <div class="jrwmall" style="width:400px; height:417px; overflow:hidden;padding-right:0px;">
        <h2 class="jrwmall_title">文案策划</h2>
        <p class="jrwm_zprs">招聘人数：2名</p>
        <div class="jrwm_bot">
            职位描述：
            <br/> 1. 撰写公司各项目方案的策划。
            <br/> 2. 参与项目的谈判和对客户进行提案。
            <br/> 3. 知识面广泛，文笔佳，思路清晰。
            <br/> 4. 良好的沟通能力及团队合作精神
            <br/> 5. 具有品牌及产品的分析能力,为品牌创造最佳价值
            <br/> 任职要求：
            <br/> 1. 本科及以上学历，2年以上创意策划经验。
            <br/> 2. 精通办公自动化软件，尤其能娴熟地进行PowerPoint的运用。
            <br/> 3. 活跃又成熟的创意思路，杰出的文字表达能力。
            <br/> 4. 逻辑思维能力较强。
            <br/>
            <br/>
            <p class="gzdd">工作地点：北京</p>
        </div>
    </div>
    <div class="jrwmall" style="padding-right:0px; width:314px; height:417px; overflow:hidden;">
        <h2 class="jrwmall_title">影视后期制作</h2>
        <p class="jrwm_zprs">招聘人数：2名</p>
        <div class="jrwm_bot">
            职位描述：
            <br/> 1. 负责宣传片、广告等二维，三维视频特效的设计制作；
            <br/> 2. 参与项目的素材收集，充实公司现有资料库；
            <br/> 3. 参与后期制作流程，独立完成本职工作；
            <br/> 4. 与导演、剪辑师沟通协作，配合团队同仁完成效果表达；
            <br/> 5. 收集分享优秀的影视、绘画、游戏等与视觉相关的事物。
            <br/> 任职要求：
            <br/> 1. 本科及以上学历，市场专业优先考虑。
            <br/> 2. 2年以上客户经理经验，广告公司就职经验者优先考虑。
            <br/> 3. 项目控制能力与良好的客户沟通能力。
            <br/> 4. 具有一定的团队管理经验。
            <br/>
            <br/>
            <p class="gzdd">工作地点：北京</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="jrwm_line"></div>
<div class="jrwm11" style="padding-bottom:73px;">
    <div class="jrwmall" style="width:366px; height:417px; overflow:hidden;padding-right:0px;">
        <h2 class="jrwmall_title">客户经理</h2>
        <p class="jrwm_zprs">招聘人数：2名</p>
        <div class="jrwm_bot">
            职位描述：
            <br/> 1. 开发公司新客户及维护客户关系。
            <br/> 2. 独立负责公司签约客户，日常沟通。
            <br/> 3. 能够独立为客户制定企业宣传方案。
            <br/> 4. 高质量的完成项目中各个方面工作。
            <br/> 5. 能独立完成项目执行过程中的沟通协调。
            <br/> 任职要求：
            <br/> 1. 本科及以上学历，市场专业优先考虑。
            <br/> 2. 2年以上客户经理经验，广告公司就职经验者优先考虑。
            <br/> 3. 项目控制能力与良好的客户沟通能力。
            <br/> 4. 具有一定的团队管理经验。
            <br/>
            <br/>
            <p class="gzdd">工作地点：上海</p>
        </div>
    </div>
    <div class="jrwmall" style="width:400px; height:417px; overflow:hidden;padding-right:0px;">
        <h2 class="jrwmall_title">文案策划</h2>
        <p class="jrwm_zprs">招聘人数：2名</p>
        <div class="jrwm_bot">
            职位描述：
            <br/> 1. 撰写公司各项目方案的策划。
            <br/> 2. 参与项目的谈判和对客户进行提案。
            <br/> 3. 知识面广泛，文笔佳，思路清晰。
            <br/> 4. 良好的沟通能力及团队合作精神
            <br/> 5. 具有品牌及产品的分析能力,为品牌创造最佳价值
            <br/> 任职要求：
            <br/> 1. 本科及以上学历，2年以上创意策划经验。
            <br/> 2. 精通办公自动化软件，尤其能娴熟地进行PowerPoint的运用。
            <br/> 3. 活跃又成熟的创意思路，杰出的文字表达能力。
            <br/> 4. 逻辑思维能力较强。
            <br/>
            <br/>
            <p class="gzdd">工作地点：上海</p>
        </div>
    </div>
    <div class="jrwmall" style="padding-right:0px;width:314px; height:417px; overflow:hidden;">
        <h2 class="jrwmall_title">影视后期制作</h2>
        <p class="jrwm_zprs">招聘人数：2名</p>
        <div class="jrwm_bot">
            职位描述：
            <br/> 1. 负责宣传片、广告等二维，三维视频特效的设计制作；
            <br/> 2. 参与项目的素材收集，充实公司现有资料库；
            <br/> 3. 参与后期制作流程，独立完成本职工作；
            <br/> 4. 与导演、剪辑师沟通协作，配合团队同仁完成效果表达；
            <br/> 5. 收集分享优秀的影视、绘画、游戏等与视觉相关的事物。
            <br/> 任职要求：
            <br/> 1. 本科及以上学历，市场专业优先考虑。
            <br/> 2. 2年以上客户经理经验，广告公司就职经验者优先考虑。
            <br/> 3. 项目控制能力与良好的客户沟通能力。
            <br/> 4. 具有一定的团队管理经验。
            <br/>
            <br/>
            <p class="gzdd">工作地点：上海</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="jrwm_line1"></div>
<div class="gywm4" style="padding-bottom:86px;">
</div>
<div class="footer" style=" position:relative; z-index:999999;">
    <div class="footer1" style="padding-bottom:10px;">
        <div class="footer1L">
            <div class="footer_syyy" style="padding-left:8px;">
                <h2>关于我们</h2>
                <ul>
                    <li><a href="gywm.html">关于新界</a></li>
                    <li><a href="gywm.html">服务项目</a></li>
                    <li><a href="gywm.html">新界团队</a></li>
                    <li><a href="mtzy.html">媒体资源</a></li>
                    <li><a href="lxwm.html">联系我们</a></li>
                </ul>
            </div>
            <div class="footer_syyy" style="padding-right:127px;">
                <h2>商业影视</h2>
                <ul>
                    <li><a href="index.html#aa">宣传片</a></li>
                    <li><a href="index.html#aa">广告片</a></li>
                    <li><a href="index.html#aa">微电影</a></li>
                    <li><a href="index.html#aa">二维动画</a></li>
                    <li><a href="index.html#aa">三维动画</a></li>
                </ul>
            </div>
            <div class="footer_syyy" style="padding-right:127px; ">
                <h2>品牌设计</h2>
                <ul>
                    <li><a href="index.html#aa">视觉识别系统</a></li>
                    <li><a href="index.html#aa">logo图形创意</a></li>
                    <li><a href="index.html#aa">画册海报设计</a></li>
                    <li><a href="index.html#aa">UI--用户体验</a></li>
                    <li><a href="index.html#aa">App产品设计</a></li>
                </ul>
            </div>
            <div class="footer_syyy" style="padding-right:90px;width:140px; padding-left:22px;">
                <h2>媒体资源</h2>
                <ul>
                    <li><a href="mtzy.html">CCTV BTV 卫视频道</a></li>
                    <li><a href="mtzy.html">中新网 人民网 新华网</a></li>
                    <li><a href="mtzy.html">腾讯 凤凰 搜狐 新浪</a></li>
                    <li><a href="mtzy.html">网易 环球网 光明网</a></li>
                    <li><a href="mtzy.html">优酷 土豆 乐视 爱奇艺 </a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="footer1R" style="padding-top:5px;">
            <div class="footer1_ewm">
                <img src="images/ewm.jpg" width="108" height="108"/>
                <p style="padding-top:5px;">关注新界传媒</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="line2"></div>
    <div class="dz">
        <div class="dz_1">
            <p>BEIJING</p>
            <div class="dz_1_top">北京<span> 新界</span></div>
            <div class="dz_1_bot">
                北京朝阳区建外SOHO12号楼2802
                <br/> 电话： 010-59001439/59009471
                <br/> 传真： 010-58690432
                <br/> Q Q ：&nbsp;2435934515
                <br/> Email：newview_bj@yahoo.com
            </div>
        </div>
        <div class="dz_1" style="padding-left:103px;">
            <p>SHANGHAI</p>
            <div class="dz_1_top">上海<span>新界</span></div>
            <div class="dz_1_bot">
                上海市普陀区长寿路中港汇大厦15层
                <br/> 电话： 021-6180 0520
                <br/> 传真： 021-6180 0532
                <br/> Q Q:： 2150130065
                <br/> Email：newview_bj@yahoo.com
            </div>
        </div>
        <div class="dz_1" style="border:0px; padding-left:0px; float:right; width:220px;">
            <p>BEIJING</p>
            <div class="dz_1_top">北京<span>电影事业部</span></div>
            <div class="dz_1_bot">
                北京朝阳区高碑店艺术区26-1
                <br/> 电话： 010-59009471/58685364
                <br/> 传真： 010-58695364
                <br/> Q Q ： 2556656115
                <br/> Email：newview_bj@yahoo.com
            </div>
        </div>
    </div>
    <div class="line3"></div>
    <div class="footer2">
        <div class="footer2_left"><img src="images/footer_logo.png" width="155" height="36" align="absmiddle"/>&nbsp;&nbsp;&copy;
            2014 版权所有 新界广告传媒有限公司
        </div>
        <div class="clear"></div>
    </div>
</div>
<div style="position: fixed;z-index:9999999999;right: 0px;top: 300px;">
    <div id="kefu" style="position:relative; display:block; width:70px; height:326px; text-ailgn:justify;">
        <div style="width:252px; height:61px;"><img src="images/kefu1.jpg" width="252" height="61"/></div>
        <div style=" width:250px; height:264px; border:1px solid #e8e8e8; border-top:none; background:#fff;">
            <div style="width:211px; margin:0 auto 0 30px; padding-top:15px;">
                <p style="font-size:14px; color:#333333; line-height:;22px;"><img src="images/kefu2.png"
                                                                                  align="absmiddle"/><span
                        style="padding-left:20px;">北京：<span style="letter-spacing:1.5px;">2435934515</span>
                        <br/><span style="padding-left:80px;letter-spacing:1.5px;">2556656115</span>
                        <br><span style="padding-left:38px;">上海：<span
                            style="letter-spacing:1.5px;">2150130065</span></span>
                        </span>
                </p>
                <p style="font-size:14px; color:#333333; line-height:22px; padding-top:8px;"><img src="images/kefu3.png"
                                                                                                  align="absmiddle"/><span
                        style="padding-left:20px;">北京：010-59001439<br/><span
                        style="padding-left:80px;">010-59005471</span>
                        <br/><span style="padding-left:80px;letter-spacing:0.7px;">13581915712</span>
                        <br/>
                <p style="padding-left:38px;font-size:14px; color:#333333; line-height:22px; padding-top:8px;">
                    上海：021-61800520</p><span style="padding-left:80px;font-size:14px; color:#333333; line-height:22px;">021-61800532</span>
                <br/><span
                    style="padding-left:80px;font-size:14px; color:#333333; line-height:22px;letter-spacing:0.7px;">18811398375</span></span>
                </p>
                <p style="font-size:14px; color:#333333; padding-top:8px;"><img src="images/kefu4.png"
                                                                                align="absmiddle"/><span
                        style="padding-left:20px;">newview_bj@yahoo.com</span></p>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#kefu").hover(function () {
            $("#kefu").stop().animate({
                width: "252px"
            });
        }, function () {
            $("#kefu").stop().animate({
                width: "70px"
            });
        });
    });
</script>
</body>

</html>
