<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>媒体 - 新界传媒</title>
    <meta name="keywords" content="宣传片制作公司/视频制作公司/上海视频公司/北京视频制作公司">
    <meta name="description" content="新界传媒">
    <base href="<?=base_url()?>">
    <link rel="stylesheet" href="css/globle.css" type="text/css"/>
    <link rel="stylesheet" href="css/mtzy.css" type="text/css"/>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".abc").mouseover(function () {
                $(".ccc").show();
            })
            $(".abc").mouseout(function () {
                $(".ccc").hide();
            })
        })
    </script>
</head>

<body>
<div class="top">
    <div class="topc">
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" width="139" height="80"/></a>
        </div>
        <div class="top_right">
            <div class="nav">
                <a href="<?=site_url();?>">首页</a>
                <a href="<?=site_url('about');?>">我们</a>
                <a href="<?=site_url('#aa');?>">案例</a>
                <a href="<?=site_url('media');?>">媒体</a>
                <a href="<?=site_url('contact');?>">联系</a>
                <div class="clear"></div>
            </div>
            <div class="top_right_right">
                <a href="javascript:void(0);"><img src="images/qq.png" width="18" height="20"/></a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="javascript:;" class="abc"><img src="images/wx.png" width="22" height="20"/></a>
            </div>
            <div class="ccc">
                <img src="images/ewm.jpg" width="125" height="125"/>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<style type="text/css">
    .ccc {
        display: none;
        float: right;
        margin-top: 0px;
        margin-left: 10px;
        margin-right: -30px;
    }
</style>
<div class="banner"
     style="background:url(images/mt_top_banner.jpg) no-repeat top center; height:581px; border-bottom:1px #EB1717 solid;"></div>
<div class="mtzy_nav">
    <div class="mtzy_nav_icon"><img src="images/mt_top_icon.png" width="135px" height="135px"></div>
    <div class="mtzy_nav_lb">
        <ul>
            <li>媒体推广</li>
            <li style="margin-left:120px;">明星商业</li>
            <li style="margin-left:120px;">微博推广</li>
            <li style="margin-left:120px;">微信推广</li>
            <li style="margin-left:120px;">公关活动</li>
            <li style="margin-left:120px;">央视媒体</li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="mtzy_list">
    <div class="zhqx"><img src="images/mtzy_01.jpg"></div>
    <div class="bdsp"><img src="images/mtzy_02.jpg"></div>
    <div class="spjm"><img src="images/mtzy_03.jpg"></div>
    <div class="mttg"><img src="images/mtzy_04.jpg"></div>
    <div class="mxsp"><img src="images/mtzy_05.jpg"></div>
    <div class="wbwx"><img src="images/mtzy_06.jpg"></div>
    <div class="mtcb">
        <div class="mtcb_tit">媒体传播</div>
        <div class="mtcb_con">
            新界传媒广告有限公司拥有丰富视频媒体资源，善于炒作热点，策划季度定制视频节目，病毒视频，专注视频精准推广与传播，打造众多商业视频媒体节目。经过多年的资源整合，现已拥有全国60多家媒体资源：CCTV、BTV、浙江卫视、湖南卫视、江苏卫视、东方卫视天津卫视、辽宁卫视、央视网、中国新闻网、人民网、新华网、凤凰网、环球网光明网、中国经济网、爱奇艺，搜狐，优酷，土豆，腾讯，乐视，PPTV，芒果TV，响巢看看，美拍，秒拍等全国主流媒体。
        </div>
        <div class="mtcb_img"><img src="images/mtzy_07.jpg"></div>
    </div>
    <div class="mxsysp">
        <div class="mxsysp_tit">明星商业视频</div>
        <div class="mxsysp_con">
            新界传媒广告有限公司与一二线娱乐经纪公司和时尚媒体高度稳定合作。根据客户需求寻找最佳的明星代言，出席商业活动，录制企业宣传片等。整合资源营销，最大化明星宣传效果。
            <br>
            <br> 合作经纪公司：中影集团 | 博纳经纪 | 华谊兄弟 | 光线传媒 | 新丽传媒 | 橙天娱乐 | 海润影视 | 华录百纳 | 海润电影 | 金英马影视 | 小马奔腾 | 于正工作室 | 东方天星 |
            上海耀客文化 | 金牌大风 | 环球音乐国际部 华语部 | Sony音乐 | 华纳唱片香港 华纳唱片台湾 | 华研音乐 | 种子音乐 | 海蝶音乐 | 大国文化 | 太合麦田 | 爱贝克思 | 天娱传媒 | 福茂唱片
            | 滚石唱片 | 麦特文化 | DMG娱乐传媒集团 |唐人电影 | 天浩盛世 | 尚世影业 | 拾捌文化
            <br>
            <br> 合作杂志：精品购物指南，优价画报，ok！精彩，cosmo，时尚新娘，VOUGE，嘉人，伊周
        </div>
        <div class="mxsysp_lb">
            <ul>
                <li><img src="images/mxsysp_01.jpg"></li>
                <li><img src="images/mxsysp_02.jpg"></li>
                <li><img src="images/mxsysp_03.jpg"></li>
                <li><img src="images/mxsysp_04.jpg"></li>
                <li><img src="images/mxsysp_05.jpg"></li>
                <li><img src="images/mxsysp_06.jpg"></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="wbwxyx">
        <div class="wbwxyx_tit">微博微信营销</div>
        <div class="wbwxyx_con">新界传媒广告有限公司拥有娱乐时尚生活领域新媒体微博微信自媒体资源，根据品牌需求选择视频和软文进行新媒体传播。我司具备专业人才根据客户需求，承接客户微信运营与推广工作。
        </div>
        <div class="wbwxyx_nav">
            <div class="wbwxyx_lb">
                <div class="wbwxyx_lb_tit">微博系列</div>
                <ul>
                    <li>独家人气账号</li>
                    <li>知名博主</li>
                    <li>互联网&游戏</li>
                    <li>明星&娱乐爆料</li>
                    <li>画师</li>
                </ul>
            </div>
            <div class="wbwxyx_lb">
                <div class="wbwxyx_lb_tit">微信系列</div>
                <ul>
                    <li>知名博主微信朋友圈</li>
                    <li>知名博主</li>
                    <li>媒体及草根订阅号</li>
                </ul>
            </div>
            <div class="wbwxyx_lb">
                <div class="wbwxyx_lb_tit">豆瓣系列</div>
                <ul>
                    <li>豆瓣红人</li>
                </ul>
            </div>
            <div class="wbwxyx_lb">
                <div class="wbwxyx_lb_tit">知乎系列</div>
                <ul>
                    <li>知乎</li>
                </ul>
            </div>
            <div class="wbwxyx_lb">
                <div class="wbwxyx_lb_tit">校园推广</div>
                <ul>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="mtzy_bottom_banner">
    <div class="mtzy_bottom_banner_img"></div>
</div>
<div class="footer" style=" position:relative; z-index:999999;">
    <div class="footer1" style="padding-bottom:10px;">
        <div class="footer1L">
            <div class="footer_syyy" style="padding-left:8px;">
                <h2>关于我们</h2>
                <ul>
                    <li><a href="gywm.html">关于新界</a></li>
                    <li><a href="gywm.html">服务项目</a></li>
                    <li><a href="gywm.html">新界团队</a></li>
                    <li><a href="mtzy.html">媒体资源</a></li>
                    <li><a href="lxwm.html">联系我们</a></li>
                </ul>
            </div>
            <div class="footer_syyy" style="padding-right:127px;">
                <h2>商业影视</h2>
                <ul>
                    <li><a href="index.html#aa">宣传片</a></li>
                    <li><a href="index.html#aa">广告片</a></li>
                    <li><a href="index.html#aa">微电影</a></li>
                    <li><a href="index.html#aa">二维动画</a></li>
                    <li><a href="index.html#aa">三维动画</a></li>
                </ul>
            </div>
            <div class="footer_syyy" style="padding-right:127px; ">
                <h2>品牌设计</h2>
                <ul>
                    <li><a href="index.html#aa">视觉识别系统</a></li>
                    <li><a href="index.html#aa">logo图形创意</a></li>
                    <li><a href="index.html#aa">画册海报设计</a></li>
                    <li><a href="index.html#aa">UI--用户体验</a></li>
                    <li><a href="index.html#aa">App产品设计</a></li>
                </ul>
            </div>
            <div class="footer_syyy" style="padding-right:90px;width:140px; padding-left:22px;">
                <h2>媒体资源</h2>
                <ul>
                    <li><a href="mtzy.html">CCTV BTV 卫视频道</a></li>
                    <li><a href="mtzy.html">中新网 人民网 新华网</a></li>
                    <li><a href="mtzy.html">腾讯 凤凰 搜狐 新浪</a></li>
                    <li><a href="mtzy.html">网易 环球网 光明网</a></li>
                    <li><a href="mtzy.html">优酷 土豆 乐视 爱奇艺 </a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="footer1R" style="padding-top:5px;">
            <div class="footer1_ewm">
                <img src="images/ewm.jpg" width="108" height="108"/>
                <p style="padding-top:5px;">关注新界传媒</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="line2"></div>
    <div class="dz">
        <div class="dz_1">
            <p>BEIJING</p>
            <div class="dz_1_top">北京<span> 新界</span></div>
            <div class="dz_1_bot">
                北京朝阳区建外SOHO12号楼2802
                <br/> 电话： 010-59001439/59009471
                <br/> 传真： 010-58690432
                <br/> Q Q ：&nbsp;2435934515
                <br/> Email：newview_bj@yahoo.com
            </div>
        </div>
        <div class="dz_1" style="padding-left:103px;">
            <p>SHANGHAI</p>
            <div class="dz_1_top">上海<span>新界</span></div>
            <div class="dz_1_bot">
                上海市普陀区长寿路中港汇大厦15层
                <br/> 电话： 021-6180 0520
                <br/> 传真： 021-6180 0532
                <br/> Q Q:： 2150130065
                <br/> Email：newview_bj@yahoo.com
            </div>
        </div>
        <div class="dz_1" style="border:0px; padding-left:0px; float:right; width:220px;">
            <p>BEIJING</p>
            <div class="dz_1_top">北京<span>电影事业部</span></div>
            <div class="dz_1_bot">
                北京朝阳区高碑店艺术区26-1
                <br/> 电话： 010-59009471/58685364
                <br/> 传真： 010-58695364
                <br/> Q Q ： 2556656115
                <br/> Email：newview_bj@yahoo.com
            </div>
        </div>
    </div>
    <div class="line3"></div>
    <div class="footer2">
        <div class="footer2_left"><img src="images/footer_logo.png" width="155" height="36" align="absmiddle"/>&nbsp;&nbsp;&copy;
            2014 版权所有 新界广告传媒有限公司
        </div>
        <div class="clear"></div>
    </div>
</div>
<div style="position: fixed;z-index:9999999999;right: 0px;top: 300px;">
    <div id="kefu" style="position:relative; display:block; width:70px; height:326px; text-ailgn:justify;">
        <div style="width:252px; height:61px;"><img src="images/kefu1.jpg" width="252" height="61"/></div>
        <div style=" width:250px; height:264px; border:1px solid #e8e8e8; border-top:none; background:#fff;">
            <div style="width:211px; margin:0 auto 0 30px; padding-top:15px;">
                <p style="font-size:14px; color:#333333; line-height:;22px;"><img src="images/kefu2.png"
                                                                                  align="absmiddle"/><span
                        style="padding-left:20px;">北京：<span style="letter-spacing:1.5px;">2435934515</span>
                        <br/><span style="padding-left:80px;letter-spacing:1.5px;">2556656115</span>
                        <br><span style="padding-left:38px;">上海：<span
                            style="letter-spacing:1.5px;">2150130065</span></span>
                        </span>
                </p>
                <p style="font-size:14px; color:#333333; line-height:22px; padding-top:8px;"><img src="images/kefu3.png"
                                                                                                  align="absmiddle"/><span
                        style="padding-left:20px;">北京：010-59001439<br/><span
                        style="padding-left:80px;">010-59005471</span>
                        <br/><span style="padding-left:80px;letter-spacing:0.7px;">13581915712</span>
                        <br/>
                <p style="padding-left:38px;font-size:14px; color:#333333; line-height:22px; padding-top:8px;">
                    上海：021-61800520</p><span style="padding-left:80px;font-size:14px; color:#333333; line-height:22px;">021-61800532</span>
                <br/><span
                    style="padding-left:80px;font-size:14px; color:#333333; line-height:22px;letter-spacing:0.7px;">18811398375</span></span>
                </p>
                <p style="font-size:14px; color:#333333; padding-top:8px;"><img src="images/kefu4.png"
                                                                                align="absmiddle"/><span
                        style="padding-left:20px;">newview_bj@yahoo.com</span></p>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#kefu").hover(function () {
            $("#kefu").stop().animate({
                width: "252px"
            });
        }, function () {
            $("#kefu").stop().animate({
                width: "70px"
            });
        });
    });
</script>
</body>

</html>
